<!DOCTYPE html>
<html>
<head>
	<title>Yum Brands</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/yum.css">
	<link rel="icon" type="image/png" href="{{ STATIC_URL }}img/yum.jpg">

	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){ 
	        $("#my_table").tablesorter(); 
	    }); 
	</script>
</head>
<body>
	{% include 'navbar.html' %}
	<div class="row jumbotron dashboard">
		<div class="col-md-8"><h3>Branches</h3></div>
		<div class="col-md-4"><a href="/add_branch/" class="btn btn-default">Add Branch</a></div>
	</div>
	<table id="my_table" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Company Name</th>
				<th>Franchise</th>
				<th>Contact Name</th>
				<th>Phone</th>
				<th>E-mail</th>
				<th>Owner Name</th>
				<th>Operator Name</th>
				<th>Address</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for branch in branches %}
				<tr>
					<td>{{ branch.name }}</td>
					<td>{{ branch.franchise.name }}</td>
					<td>{{ branch.contact_name }}</td>
					<td>{{ branch.phone }}</td>
					<td>{{ branch.email }}</td>
					<td>{{ branch.owner_name }}</td>
					<td>{{ branch.operator_name }}</td>
					<td>{{ branch.address }}</td>
					<td><a href="/edit_branch/{{ branch.id }}/">Edit</a></td>
					<td><a href="/delete_branch/{{ branch.id }}/">Delete</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>