<!DOCTYPE html>
<html>
<head>
	<title>Yum Brands</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/yum.css">
	<link rel="icon" type="image/png" href="{{ STATIC_URL }}img/yum.svg">

	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</head>
<body>
	{% include 'navbar.html' %}
	<div class="row jumbotron dashboard">
		<div class="col-md-8"><h3>Branches</h3></div>
		<div class="col-md-4"><a href="/add_branch/" class="btn btn-default">Add Branch</a></div>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Brand</th>
				<th>Address</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for branch in branches %}
				<tr>
					<td>{{ branch.get_brand_display }}</td>
					<td>{{ branch.address }}</td>
					<td><a href="/edit_branch/{{ branch.id }}/">Edit</a></td>
					<td><a href="/delete_branch/{{ branch.id }}/">Delete</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>