<!DOCTYPE html>
<html>
<head>
	<title>Yum Brands</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/yum.css">
	<link rel="icon" type="image/png" href="{{ STATIC_URL }}img/yum.svg">

	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</head>
<body>
	{% include 'navbar.html' %}
overview
</body>
</html>